.user-add {
  max-width: 600px;
  margin: 50px auto; 
  padding: 20px;
  background-color: #3ae8d4; 
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  color: black;
  margin-bottom: 20px;
}

.response-message {
  text-align: center;
  margin-bottom: 15px;
  color: blue;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

input, textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

textarea {
  resize: none;
}

button.submit-btn {
  width: 100%;
  padding: 10px;
  font-weight: bold;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

button.submit-btn:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}

.go-back-btn {
  padding: 10px 20px;
  margin-top: 20px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.go-back-btn:hover {
  background-color: #0056b3; 
  transform: scale(1.05);
}

.go-display-btn {
  padding: 10px 20px;
  margin-top: 20px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.go-display-btn:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}