.user-display {
  max-width: 800px;
  margin: 30px auto;
  padding: 20px;
  background-color: #3ae8d4; 
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  color: black;
  margin-bottom: 20px;
}

.error-message {
  text-align: center;
  color: red;
  font-weight: bold;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  background-color: #10f8f8;
  margin-bottom: 10px;
  padding: 15px;
  border-radius: 5px;
  border: 1px solid #ddd;
  transition: box-shadow 0.2s ease-in-out;
}

li:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

p {
  margin: 5px 0;
  color: black;
}

.user-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.user-table th, .user-table td {
  border: 2px solid black;
  padding: 10px;
  text-align: left;
}

.user-table th {
  background-color: #04dbdb;
  color: black;
  font-weight: bold;
}

.user-table tr {
  background-color: #5dd4d4;
}

.user-table .message-column {
  max-width: 200px;
  word-wrap: break-word;
}

.go-back-btn {
  padding: 10px 20px;
  margin-top: 20px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  background-color: #007bff; 
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.go-back-btn:hover {
  background-color: #0056b3; 
  transform: scale(1.05);
}

.update-btn, .delete-btn {
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  transition: background-color 0.3s ease;
  margin-top: 10px;
  margin-right: 10px;
}

.update-btn {
  background-color: rgb(10, 197, 10); 
  color: white;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.update-btn:hover {
  background-color: rgb(11, 147, 11); 
  transform: scale(1.05);
}

.delete-btn {
  background-color: rgb(251, 37, 37);
  color: white;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.delete-btn:hover {
  background-color: rgb(185, 33, 33); 
  transform: scale(1.05);
}

button {
  margin-top: 10px;
  margin-right: 10px;
}